<section class="flex w-screen h-screen items-center justify-center">
  <div class="card text-center py-24  max-w-4xl">
    <h1 class="mb-6">ЁЯЪА RailsBooster</h1>
    <p class="text-slate-700 text-lg">Ruby On Rails Boilerplate For Instant Productivity тЪбя╕П</p>
  </div>
</section>