@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  h1 {
    @apply font-bold text-5xl;
  }

  h2 {
    @apply font-bold text-4xl;
  }

  h3 {
    @apply font-bold text-3xl;
  }

  a {
    @apply text-indigo-600;
  }

  a:hover {
    @apply underline;
  }
}

@layer components {
  .hero-container {
    @apply flex w-full h-screen flex-col justify-center items-center;
  }

  .card {
    @apply max-w-lg w-full bg-white rounded-md border-2 p-6;
  }

  .form-field {
    @apply mb-4;
  }

  .form-label {
    @apply block text-gray-800 text-sm font-bold;
  }

  .form-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  .form-input:focus {
    @apply outline-none;
  }

  .btn {
    @apply font-medium text-sm;
  }

  .btn-primary {
    @apply px-4 py-2 bg-indigo-600 text-white font-medium rounded;
  }

  .btn-primary:hover {
    @apply bg-indigo-700;
  }
}

.flash_notice,
.flash_alert {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  box-sizing: border-box;
  z-index: 5000;
  border-radius: 4px;
  text-align: center;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.flash_notice,
.flash_alert {
  opacity: 0;
  transform: translateY(-100px);
  animation: fadeIn 3s ease-in-out;
}